Repository poiley/syllaborem, changes with the labels that .github/labeler.yml gives for each.
All labels: javascript, html, css, python, docs, web, tests, critical

.github/labeler.yml:

javascript:
  - '**/*.js'
  - 'static/js/*'
  
html:
  - '**/*.html'
  - 'templates/*'
  
css:
  - '**/*.css'
  - 'static/css/*'
  
python:
  - '**/*.py'
  - '*.py'
  - 'apps/reader/*'
  
docs:
  - 'docs/'
  - '**/*.md'
  - '*.md'

web:
  - 'web/**/*'
 
tests:
  - 'tests/*'
  - 'tests/**/*'
 
critical:
    - '(critical|urgent)'

Updated README.md
  README.md
Labels: docs

Initial files and setup
  README.md
  django/__init__.py
  django/asgi.py
  django/settings.py
  django/urls.py
  django/wsgi.py
  manage.py
  requirements.txt
  web/__init__.py
  web/asgi.py
  web/settings.py
  web/urls.py
  web/wsgi.py
Labels: python, docs, web

Home page
  apps/__init__.py
  syllaborem/__init__.py
  syllaborem/asgi.py
  syllaborem/settings.py
  syllaborem/urls.py
  syllaborem/wsgi.py
  templates/user/index.html
  web/settings.py
  web/urls.py
Labels: html, python, web

Login and Register
  __init__.py
  apps/user/__init__.py
  apps/user/admin.py
  apps/user/apps.py
  apps/user/forms.py
  apps/user/models.py
  apps/user/tests.py
  apps/user/urls.py
  apps/user/views.py
  django/asgi.py
  django/settings.py
  django/urls.py
  django/wsgi.py
  static/css/base.css
  static/css/index.css
  templates/user/email.html
  templates/user/login.html
  templates/user/register.html
Labels: html, css, python

Automate the running of Unit Tests
  .github/workflows/django.yml
Labels: none

updating dep
  requirements.txt
Labels: none

dependency fix
  apps/reader/core.py
  requirements.txt
Labels: python

foo
  apps/reader/__init__.py
  requirements.txt
Labels: python

Test and site updates
  .gitignore
  README.md
  apps/user/forms.py
  apps/user/models.py
  apps/user/tests.py
  apps/user/views.py
  tests/__init__.py
  tests/context.py
  tests/test_reader.py
  tests/test_user.py
Labels: python, docs, tests

requirements
  .gitignore
Labels: none

Unit Test skeleton
  .gitignore
  apps/reader/__init__.py
  apps/reader/core.py
  requirements.txt
  tests/__init__.py
  tests/context.py
  tests/test_reader.py
  tests/test_user.py
Labels: python, tests

fwoops
  apps/user/models.py
Labels: python

got a corner
  apps/user/forms.py
  apps/user/tests.py
  apps/user/views.py
  tests/__init__.py
Labels: python, tests

a
  apps/user/models.py
  tests/__init__.py
Labels: python, tests

a
  tests/test_user.py
Labels: python, tests

a
  apps/user/models.py
  setup.py
  tests/test_user.py
  web/settings.py
Labels: python, web, tests

Update README.md
  README.md
Labels: docs

resolve.
  .gitignore
  apps/user/models.py
  tests/__init__.py
Labels: python, tests

Create .mergify.yml
  .github/.mergify.yml
Labels: none
