Repository poiley/syllaborem, changes with the labels that .github/labeler.yml gives for each.
All labels: javascript, html, css, python, docs, web, tests, critical, reader, automerge, devops

.github/labeler.yml:

javascript:
  - '**/*.js'
  - 'static/js/*'
  
html:
  - '**/*.html'
  - 'templates/*'
  
css:
  - '**/*.css'
  - 'static/css/*'
  
python:
  - '**/*.py'
  - '*.py'
  - 'apps/reader/*'
  
docs:
  - 'docs/'
  - '**/*.md'
  - '*.md'

web:
  - 'web/**/*'
 
tests:
  - 'tests/*'
  - 'tests/**/*'
  - '(tests|test)'
 
critical:
  - '(critical|urgent)'

reader:
  - '(Reader|reader)'

automerge:
  - '*'
  - '**/*'
  
devops:
  - '.github/*'
  - '.github/**/*'

develop#45
  .github/.mergify.yml
  .github/workflows/label_pr.yml
Labels: automerge, devops

Update issue templates
  .github/ISSUE_TEMPLATE/issue-template.md
Labels: docs, automerge, devops

develop#50
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: docs, automerge, devops

changed everything... again. last time. i promise. should close #52
  apps/__init__.py
  apps/user/admin.py
  apps/user/forms.py
  apps/user/models.py
  apps/user/urls.py
  apps/user/views.py
  templates/base.html
  templates/index.html
  templates/registration/email.html
  templates/registration/login.html
  templates/registration/password_change_done.html
  templates/registration/password_change_form.html
  templates/registration/password_reset_complete.html
  templates/registration/password_reset_confirm.html
  templates/registration/password_reset_done.html
  templates/registration/password_reset_email.html
  templates/registration/password_reset_form.html
  templates/registration/password_reset_subject.txt
  templates/registration/register.html
  templates/user/index.html
  templates/user/login.html
  templates/user/register.html
  web/settings.py
  web/urls.py
Labels: html, python, web, automerge

updated tests
  tests/test_user.py
Labels: python, tests, automerge

Revert "changed everything... again. last time. i promise. should close #52"
  apps/__init__.py
  apps/user/admin.py
  apps/user/forms.py
  apps/user/models.py
  apps/user/urls.py
  apps/user/views.py
  templates/base.html
  templates/index.html
  templates/registration/login.html
  templates/registration/password_change_done.html
  templates/registration/password_change_form.html
  templates/registration/password_reset_complete.html
  templates/registration/password_reset_confirm.html
  templates/registration/password_reset_done.html
  templates/registration/password_reset_email.html
  templates/registration/password_reset_form.html
  templates/registration/password_reset_subject.txt
  templates/registration/register.html
  templates/user/email.html
  templates/user/index.html
  templates/user/login.html
  templates/user/register.html
  web/settings.py
  web/urls.py
Labels: html, python, web, automerge

updated tests
  apps/user/models.py
  tests/test_user.py
Labels: python, tests, automerge

stash
  apps/__init__.py
  apps/user/admin.py
  apps/user/forms.py
  apps/user/views.py
  web/settings.py
  web/urls.py
Labels: python, web, automerge

Sign in with Github now works
  apps/user/admin.py
  apps/user/apps.py
  apps/user/forms.py
  apps/user/models.py
  apps/user/urls.py
  apps/user/views.py
  templates/base.html
  templates/index.html
  templates/registration/email.html
  templates/registration/login.html
  templates/registration/password_change_done.html
  templates/registration/password_change_form.html
  templates/registration/password_reset_complete.html
  templates/registration/password_reset_confirm.html
  templates/registration/password_reset_done.html
  templates/registration/password_reset_email.html
  templates/registration/password_reset_form.html
  templates/registration/password_reset_subject.txt
  templates/registration/register.html
  templates/user/index.html
  templates/user/login.html
  templates/user/register.html
  web/settings.py
  web/urls.py
Labels: html, python, web, automerge

closes#61
  requirements.txt
Labels: automerge

Fixed test_user.py
  tests/test_user.py
Labels: python, tests, automerge
